
p{
    background-color: aquamarine;
    text-align: center;
   }
   .PARA{
       background-color: rgb(43, 226, 52);
       text-align: center;
   }
   #r{
       background-color: rgb(140, 123, 156);
       text-align: center;
   
   }
   #rrr{
       background-color: rgb(133, 24, 24);
       text-align: center;
   
   }
   #r2r{
       background-color: rgb(43, 183, 226);
       text-align: center;
   
   }
   #r1{
       background-color: rgb(6, 207, 6);
       text-align: center;
   
   }
   #rr{
       background-color:rgb(50, 86, 205);
       text-align: center;
   
   }
   #r3{
       background-color: rgb(82, 150, 129);
       text-align: center;
   
   }

