h1{
text-align: center;
color: blanchedalmond;
}
h2{
text-align: center;
color:rgb(120, 167, 163);
}
body{
background-image: url(../images/reg.bg.jpg);
}  
table{
width: 80%;
height: 10px;
margin-top: 10px;
margin: auto;
color: white;
text-align: left;
}
.box{
width: 40%;
height: 800px;
margin: auto;
background-color: rgba(0,0,0,0.6);

}